html, body {
	height: 100%;
}

body { 
	background-color: #FFF; 
	font-family: arial;
	margin: 0;
}

#header { 
	color: #FFF;
	background-color: #000; 
	background-image: url( '/resources/images/header-background-chart.png');
	height: 100px;
	margin: 0;
}

#header a { 
	color: #000; 
	font-weight: bold;
}

h1 { margin: 0; }

h2 { color: #000000; }

h3 {
	text-align: left;
}

div#left {
	width: 60%;
	float: left;
	clear: left;
	text-align: center;
}

div#right {
	width: 38%;
	float: left;
}

#nav li, #subnav li {
	float: left;
	width: 14%;
}

ul#nav, ul#subnav {
	list-style-type: none;
	display: inline;
}

#subnav a {
	font-size: 1em;
}

a {
	color: #0000FF;
	text-decoration: none;
}

a:hover {
	color: #0000FF;
	text-decoration: underline;
}

div#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
     	margin: 0 auto -2em;
}

div#footerControl {
	height: 2em;
}

div#footer { 
	color: #B9FF00;
	/*background-color: #356AA0;
	background-color: #f7f897;*/
	background-image: url( '/resources/images/footer-background-chart.png');
	clear: left;
	padding-top: 1em;
	height: 2em;
}

.flattenList li {
	list-style-type: none;
}

.flattenList ul, .flattenList li {
	display: inline;
}

/* page specific */

/* collections */

.collections ul{
	float: left;
	text-align: left;
	list-style-type: none;
}

.message {
	position: fixed;
	bottom: 10px;
	right: 10px;
	background-color: #f7f897;
	border: 1px solid #000;
	width: 300px;
	height: 150px;
	overflow: auto;
	padding: .5em;
}

.form {
	text-align: left;
	border: 1px solid #AFAFAF;
	background-color: #EFEFEF;
	padding: 0 1em;
	width: 30%;
	margin-left: auto ;
	margin-right: auto ;
	margin-top: 1em;
}

.form input {
	border: 1px solid #AFAFAF;
}

.center {
	text-align: center;
	font-weight: bold;
}

.highlight{
	text-align: left;
	width: 100%;
}

.highlight:hover {
	border: #EFEFEF;
	background-color: #f7f897;
}

.listWithOutDots {
	list-style-type: none;
}

.checked {
	background-image: url('/resources/images/chk_on.png');
}
.unchecked {
	background-image: url('/resources/images/chk_off.png');
}

.PatientListModule, .MARModule, .tabs {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}
	
.PatientListModule div, .MARModule div {
	border: 1px solid #AFAFAF;
	background-color: #EFEFEF;
	padding: .5em;
	margin: .25em auto;
}

.MARModule {
	clear: left;
	background-color: #9bcf24;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

#MARModule .module_element {
		width: 85%;
}

.PatientListModule img, .MARModule img {
	float: left;
	margin-right: .25em;
}

.PatientListModule li, .MARModule li {
	padding-right: .25em;
}

.unconfirmedMedication {
	background-color: #F7F897 !important;
}

.tab {
	background-image: url('/resources/images/greentab.jpg');
	text-align: center;
	width: 102px;
	background-repeat: no-repeat;
	float: left;
	list-style-type: none;
}