html, body {
	height: 100%;
}

body { 
	background-color: #FFFFFF; 
	font-family: arial;
	margin: 0;
}

h1 { 
	color: #B9FF00;
	background-color: #356AA0; 
	margin: 0;
}

h2 { color: #000000; }

h3 {
	text-align: left;
}

div#left {
	width: 60%;
	float: left;
	clear: left;
	text-align: center;
}

div#right {
	width: 38%;
	float: left;
}

#nav li {
	float: right;
	width: 14%;
}

ul#nav {
	list-style-type: none;
	display: inline;
}

a {
	color: #B9FF00;
	text-decoration: none;
}

a:hover {
	color: #B9FF00;
	text-decoration: underline;
}

div#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
     	margin: 0 auto -2em;
}

div#footerControl {
	height: 2em;
}

div#footer { 
	color: #B9FF00;
	background-color: #356AA0; 
	clear: left;
	height: 2em;
}

/* page specific */

/* collections */

.collections ul{
	float: left;
	text-align: left;
	list-style-type: none;
}